/* .sidebar h1 a {
    font-size: 2rem;
} */

.sidebar img {
    border-radius: 50%;
}

.copyright {
    font-size: 0.8rem;
}

.index-button {
    background: #263a5a;
    border-radius: 0.6rem;
    padding: 1.2rem 1.8rem;
    margin-right: 0.5rem;
    color: #ffffff;
    display: inline-block;
    font-size: 1rem;
    /* font: normal bold 26px/1 "Open Sans", sans-serif; */
    text-align: center;
}

.index-content {
    font-size: 1.2rem;
    line-height: 2rem;
}

@media only screen and (max-width: 800px) {
    .sidebar .img-wrapper {
        width: 40%;
        display: inline-block;
    }

    .sidebar-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .index-button-section {
        display: flex;

    }


}
